@tailwind base;
@tailwind components;
@tailwind utilities;

.circle_input {
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm
}

.auth .header {
    min-height: 4rem;
}
.auth .auth-main {
    min-height: calc(100vh - 4rem);
}

.auth .scroll-main {
    height: calc(100vh - 4rem);
    overflow-y: auto;
}
